/* body{
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
} */

/* .game-profile{
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
}

.profile-img{
  text-align: center;
} */

th {
  text-align: center;
  font-size: 25px;
}
td{
  width: 25%;
  font-size: 25px;
  text-align: center;
}
button{
  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}